body {
    font-family: Helvetica, Arial;
}

@media only screen and (min-width : 2000px) {
	.mainImg{
		height: 900px !important;
		border-radius: 12px;
	}
}
@media only screen and (min-width : 1400px) {
/* Responsive Design */

.mainDiv{
	height: 290px;
	width: 960px;
}

.bannerDiv{
	margin-top: 25px;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
	text-align: center;
	background-color: #4f83b2;
}

p.bannerLg{
    border-top: 8px solid #fff;
	border-bottom: 8px solid #fff;
	border-left-width: 0px;
	border-right-width: 0px;
}

}
/* Website */

@media only screen and (max-width : 374px) {
 /* Iphone4 and 5 Portrait*/

.header{
	background-color: #539edf;
	width: 100%;
	height: 42px;
	margin-bottom: 0px !important;
	}
.logoimg{
	padding-top: 10px;
	padding-left: 10px;
}

.logo{
	width: 80px;

}
h1.title{
	line-height: 26px !important;
	font-size: 20px;
	color: #000;
	text-align: left;
	margin: 0px !important;
	padding: 10px !important;
	background-color: #bfbfbf;
}	
.mainDiv{
	height: auto !important;
	margin: 0 auto;
	width: auto !important;
	}

.main{
	width: auto !important;
	margin-left: 20px !important;
	margin-top: 10px;
	float: left;
	word-wrap: break-word;
}

.mainImg{
	height: 70% !important;
	margin-left: 32px !important;
	margin-top: 10px;
	float: left;
	display:none;
}

h3.mainTitle{
	font-size: 18px;
	color: #000;
	line-height: 20px !important;
}

p.mainText{
	width: 90%;
	font-size: 12px;
	margin-right: 0px !important;
	margin-left: 0px !important;
	color: #747679;
	line-height: 16px;
	float: left;
}

.bannerDivSm{
	display: none;
}

.bannerDiv{
	height: 200px;
	display:none;
}

.banner{
	display:none;
	margin-left: 10px !important;
	margin-right: 80px !important;
	top: 0px !important;
	float: left !important;
	position: relative;
}

.bannerLg{
	display: none;
}

.listDiv{
	height: auto !important;
	margin: 0px !important;
	width: auto !important;
}

.list{
	width: 95% !important;
	border: 8px solid #539edf;
	margin-top: 15px !important;
	float:left;
  	left: 0px !important;
}

.listLg{
	display: none;
}

h2.listTitle{
	font-size: 18px !important;
	text-align: left !important;
	margin-left: 12px !important;
	line-height: 40px !important;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 500px;
}
 ul li{
	background-image: url(../img/check.jpg);
 	font-size: 14px !important;
 	background-size: 18px !important;
 	background-repeat: no-repeat;
    background-position: 0px; 
    padding-left: 20px;
    margin-left:10px !important;
    text-indent: 20px !important;
    line-height: 25px;
 }


.listLeft{
	float:left;  
	width:100% !important; 
	padding-left:0px;
}

.listRight{
	float:left;  
	width:100% !important; 
	padding-left:0px; 
	padding-right: 0px !important;
}

.btn {
	float:left;
	margin-left: 25%;
	margin-top: 10px;
	margin-bottom: 10px;

	font-size:20px;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #cccccc;
	padding: 3% 6% 3% 6%;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #edbc34 52%, #d0a629 53% );
	background:-ms-linear-gradient( top, #edbc34 52%, #d0a629 53% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edbc34', endColorstr='#d0a629');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #edbc34), color-stop(53%, #d0a629) );
	background-color:#edbc34;
	color:#3b3b3b;
	display:inline-block;
	text-shadow:-1px -1px 0px #cccccc;
 	-webkit-box-shadow:inset 1px 1px 2px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 2px 0px #ffffff;
 	box-shadow:inset 1px 1px 2px 0px #ffffff;
}.btn:hover {
	background:-moz-linear-gradient( center top, #d0a629 52%, #edbc34 53% );
	background:-ms-linear-gradient( top, #d0a629 52%, #edbc34 53% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0a629', endColorstr='#edbc34');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #d0a629), color-stop(53%, #edbc34) );
	background-color:#d0a629;
}.btn:active {
	position:relative;
	top:1px;

}

}

@media only screen and (min-width : 320px) and (max-width : 560px) {
 /* Iphone5 Portrait */

.listLeft{
	float:left;  
	width:100% !important; 
	padding-left:0px;
}

.listRight{
	float:left;  
	width:100% !important; 
	padding-left:0px; 
	padding-right: 0px !important;
}
}

@media only screen and (min-width : 375px) and (max-width : 736px) {
 /* Iphone6 */

	.header{
		background-color: #539edf;
		width: 100%;
		height: 42px;
		margin-bottom: 0px !important;
	}

	.logoimg{
		padding-top: 10px;
		padding-left: 10px;
	}

	.logo{
		width: 80px;

	}

	h1.title{
		line-height: 28px !important;
		font-size: 20px;
		color: #000;
		text-align: left;
		margin: 0px !important;
		padding: 10px !important;
		background-color: #bfbfbf;
	}

	.mainDiv{
		height: auto !important;
		margin: 0 auto;
		width: auto !important;
	}

	.main{
		width: auto !important;
		margin-left: 20px !important;
		margin-top: 10px;
		float: left;
		word-wrap: break-word;
	}

	.mainImg{
		height: 70% !important;
		margin-left: 32px !important;
		margin-top: 10px;
		float: left;
		display:none;
	}

	h3.mainTitle{
		font-size: 18px;
		color: #000;
		line-height: 25px;
	}

	p.mainText{
		width: 100%;
		/* Responsive */
		width: 91vw;
		font-size: 12px;
		margin-right: 0px !important;
		margin-left: 0px !important;
		color: #747679;
		line-height: 16px;
		float: left;
	}

	.bannerDivSm{
		display: none;
	}

	.bannerDiv{
		height: 200px;
		display:none;
	}

	.banner{
		 display:none;
		margin-left: 10px !important;
		margin-right: 80px !important;
		top: 0px !important;
		float: left !important;
		position: relative;
	}

	.bannerLg{
		display: none;
	}

	.listDiv{
		height: auto !important;
		margin: 0px !important;
		width: auto !important;
	}

	.list{
		width: 96% !important;
		border: 8px solid #539edf;
		margin-top: 10px !important;
		float:left;
	  	position: left !important;
	  	left: 0px !important;
	}

	.listLg{
		display: none;
	}

	h2.listTitle{
		font-size: 18px !important;
		text-align: left !important;
		margin-left: 12px !important;
		line-height: 50px;
	}

	ul {
	    list-style-type: none;
	    padding: 0px;
	    margin: 0px;
	    width: 500px;
	}

	ul li {
	    background-image: url(.../img/check.jpg);
	    background-size: 20px;
	    background-repeat: no-repeat;
	    background-position: 0px; 
	    padding-left: 20px;
	    margin-left:10px !important;
	    text-indent: 20px !important;
	    line-height: 25px;
	}

	.listLeft{
		float:left;  
		width:42% !important;
		 padding-left:0px;
	}

	.listRight{
		float:left;  
		width:50% !important; 
		padding-left:0px; 
		padding-right: 0px !important;
	}

	.btn {
		float:left;
		margin-left:25%;
		margin-top: 30px;
		margin-bottom: 10px;
		font-size:20px;
		font-weight:normal;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #cccccc;
		padding: 15px 30px 15px 30px;
		text-decoration:none;
		background:-moz-linear-gradient( center top, #edbc34 52%, #d0a629 53% );
		background:-ms-linear-gradient( top, #edbc34 52%, #d0a629 53% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edbc34', endColorstr='#d0a629');
		background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #edbc34), color-stop(53%, #d0a629) );
		background-color:#edbc34;
		color:#3b3b3b;
		display:inline-block;
		text-shadow:-1px -1px 0px #cccccc;
	 	-webkit-box-shadow:inset 1px 1px 2px 0px #ffffff;
	 	-moz-box-shadow:inset 1px 1px 2px 0px #ffffff;
	 	box-shadow:inset 1px 1px 2px 0px #ffffff;
	}.btn:hover {
		background:-moz-linear-gradient( center top, #d0a629 52%, #edbc34 53% );
		background:-ms-linear-gradient( top, #d0a629 52%, #edbc34 53% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0a629', endColorstr='#edbc34');
		background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #d0a629), color-stop(53%, #edbc34) );
		background-color:#d0a629;
	}.btn:active {
		position:relative;
		top:1px;
}
}
@media only screen and (min-width : 320px) and (max-width : 560px) {
 /* Iphone6 Portrait */

.listLeft{
	float:left;  
	width:100% !important; 
	padding-left:0px;
}

.listRight{
	float:left;  
	width:100% !important; 
	padding-left:0px; 
	padding-right: 0px !important;
}
}

@media only screen and (min-width : 480px) and (max-width: 668px) {
 /* Horizontal IPhone .list */
h2.listTitle{
		line-height: 30px !important;
	}

ul li{
	background-size: 20px;
	line-height: 20px;
	font-size: 14px !important;
}

.listLeft{
	float:left;  
	width:40% !important; 
	padding-left:10px !important;
}

.listRight{
	float:right; 
	padding-right:10px !important; 
	width:40% !important;
}
.btn {
	padding: 10px 25px 10px 25px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}

}

@media only screen and (min-width : 737px) and (max-width: 1024px) {
 /* Ipad */

.header{
	background-color: #539edf;
	width: 100%;
	height: 55px;
	margin-bottom: 10px;
}

.logoimg{
	padding-top: 11px;
	padding-left: 82px;
}

.logo{
		width: auto;
}

h1.title{
	font-size: 30px;
	color: #000;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px !important;
}

.mainDiv{
	height: 290px;
	margin: 0 auto;
	width: 100% !important;
}

.main{
	width: 40% !important;
	margin-left: 40px;
	margin-top: 10px;
	float: left;
	word-wrap: break-word;
}

.mainImg{
	height: 280px;
	margin-left: 30px;
	margin-top: 10px;
	float: left;
	border-radius: 6px;
}

h3.mainTitle{
	font-size: 18px;
	color: #000;
	line-height: 25px;
	margin-top: 10px !important;
}

p.mainText{
	font-size: 12px;
	color: #747679;
	line-height: 16px;
	margin-top: 10px !important;
}

.bannerDiv{
	display: none;
}
.bannerDivSm{
	margin-top: 63px;
	padding-top: 3px;
	padding-bottom: 3px;
	height: 76px;
	float: left;
	text-align: center;
	background-color: #20a6b8;
	margin-left: -300px;
	top: 145px;
	position: relative;
}

.banner{
	display: none;

}
p.bannerSm{
	font-size: 16px;
	line-height: 40px;
    padding:10px;
    border-top: 8px solid #fff;
	border-bottom: 8px solid #fff;
	border-left-width: 0px;
	border-right-width: 0px;
	

}

.listDiv{
	height: 230px;
	margin: 0 auto;
	width: 100%;
}

.list{
	width: 91%;
	border: 8px solid #539edf;
	margin-top: 20px;
	float:left;
  	position:relative;
  	left: 30px;
}
.listLg{
	display: none;
}

h2.listTitle{
	font-size: 30px;
	text-align: center;
	line-height: 50px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 500px;
}

ul li {
    background-image: url(../img/check.jpg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0px; 
    padding-left: 10px;
    margin-left:30px;
    text-indent: 20px;
    line-height: 25px;
}

.listLeft{
	float:left;  width:50px; padding-left:50px;
}

.listRight{
	float:right; padding-right:220px; width:50px;
}

.btn {
	float:left;
	margin-left:35%;
	margin-top: 10px;
	margin-bottom: 10px;

	font-size:20px;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #cccccc;
	padding: 3% 6% 3% 6%;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #edbc34 52%, #d0a629 53% );
	background:-ms-linear-gradient( top, #edbc34 52%, #d0a629 53% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edbc34', endColorstr='#d0a629');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #edbc34), color-stop(53%, #d0a629) );
	background-color:#edbc34;
	color:#3b3b3b;
	display:inline-block;
	text-shadow:-1px -1px 0px #cccccc;
 	-webkit-box-shadow:inset 1px 1px 2px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 2px 0px #ffffff;
 	box-shadow:inset 1px 1px 2px 0px #ffffff;
}.btn:hover {
	background:-moz-linear-gradient( center top, #d0a629 52%, #edbc34 53% );
	background:-ms-linear-gradient( top, #d0a629 52%, #edbc34 53% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0a629', endColorstr='#edbc34');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #d0a629), color-stop(53%, #edbc34) );
	background-color:#d0a629;
}.btn:active {
	position:relative;
	top:1px;

}
}
@media only screen and (min-width : 1025px) {
 /* Super SIze */


.header{
	background-color: #539edf;
	width: 100%;
	height: 55px;
	margin-bottom: 10px;
}

.logoimg{
	padding-top: 11px;
	padding-left: 82px;
}

.logo{
		width: auto;
}

h1.title{
	font-size: 42px;
	color: #000;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px !important;
}

.mainDiv{
	height: 290px;
	margin: 0 auto;
	width: 100%;
}

.main{
	width: 45%  !important;
	margin-left: 40px;
	margin-top: 10px;
	float: left;
	word-wrap: break-word;
}

.mainImg{
	height: 360px;
	margin-left: 100px !important;
	margin-top: 10px;
	float: left;
	border-radius: 6px;
}

h3.mainTitle{
	font-size: 24px;
	color: #000;
	line-height: 70px;
	width: 100% !important;
}

p.mainText{
	font-size: 14px;
	color: #747679;
	line-height: 20px;
	width: 100%;
}

.bannerDiv{
	margin-top: 25px;
	padding-top: 3px;
	padding-bottom: 3px;

	width: auto;
	height: 76px;
	float: left;
	text-align: center;
	background-color: #20a6b8;
}

.banner{
	display: none;
}

.bannerDivSm{
	display: none;
}

p.bannerLg{
	font-size: 22px;
	line-height: 40px;
    padding:10px;
    border-top: 8px solid #fff;
	border-bottom: 8px solid #fff;
	border-left-width: 0px;
	border-right-width: 0px;
	

}

.listDivLg{
	height: 30px;
	margin: 0 auto;
	width: 100%;
}

.list{
	display: none;
}

.listLg{
	width: 100%;
	border: 8px solid #539edf;
	margin-top: 10px;
	margin-left: -3%;
	float:left;
	word-wrap:normal; 
}

h2.listTitleLg{
	font-size: 30px;.list
	text-align: center;
	line-height: 50px;
	text-align: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 500px;
}

ul li {
    background-image: url(../img/check.jpg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 0px; 
    padding-left: 10px;
    margin-left:30px;
    text-indent: 20px;
    line-height: 25px;
}

.listLeftLg{
	float:left;  width:50px; padding-left:50px; padding-right: 83px;
}

.listRightLg{
	float:right; padding-right:220px; width:50px;
}

.btn {
	float:left;
	margin-left:35%;
	margin-top: 10px;
	margin-bottom: 10px;

	font-size:20px;
	font-weight:normal;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #cccccc;
	padding: 3% 5% 3% 5%;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #edbc34 52%, #d0a629 53% );
	background:-ms-linear-gradient( top, #edbc34 52%, #d0a629 53% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edbc34', endColorstr='#d0a629');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #edbc34), color-stop(53%, #d0a629) );
	background-color:#edbc34;
	color:#3b3b3b;
	display:inline-block;
	text-shadow:-1px -1px 0px #cccccc;
 	-webkit-box-shadow:inset 1px 1px 2px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 2px 0px #ffffff;
 	box-shadow:inset 1px 1px 2px 0px #ffffff;
}.btn:hover {
	background:-moz-linear-gradient( center top, #d0a629 52%, #edbc34 53% );
	background:-ms-linear-gradient( top, #d0a629 52%, #edbc34 53% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0a629', endColorstr='#edbc34');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #d0a629), color-stop(53%, #edbc34) );
	background-color:#d0a629;
}.btn:active {
	position:relative;
	top:1px;
}

}